{% for(var i=0, l=training_data.length; i < l; i++) { %}
<div class="panel panel-primary training-panel" tr-name="{{ training_data[i].name }}">
      <div class="panel-heading">{{ training_data[i].name }}
      	{% if( !test_status ) { %}
      			
      			{% if ( inList( ["", "Closed"], training_data[i].ans_status ) ) { %}
						<button type="button" class="btn btn-success subscribe" >Subscribe</button>		
      			{% } else { %}
      					<div  style="float:right" title="Subjective Evaluation Pending."><button type="button" class="btn btn-success custom-button" disabled>Subscribe</button>
						</div>
      			{% } %}
				
		{% } else { %}
				
				<div  style="float:right" title="New subscription not allowed until pending test finished."><button type="button" class="btn btn-success custom-button" disabled>Subscribe</button>
				</div>
		
		{% } %}
      </div>
      <div class="panel-body row">
      <div class="col-xs-12">	
		  <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#home{{ i }}">Training Information</a></li>
		    <li><a data-toggle="tab" href="#reviews-menu{{ i }}">Reviews & Downloads</a>
		    </li>
		  </ul>

		  <div class="tab-content">
		    <div id="home{{ i }}" class="tab-pane fade in active">
		     <div class="row">
		     	<div class="col-xs-6">
		     		<div class="row tr-row">
		     			<div class="col-xs-6"><label class="tr-label">Training Name:</label></div>
		     			<div class="col-xs-6">{{ training_data[i].name }}</div>
		     		</div>
		     		<div class="row tr-row">
		     			<div class="col-xs-6"><label class="tr-label">Validity for Completion:</label></div>
		     			<div class="col-xs-6">{{ training_data[i].validity_for_completion }}</div>
		     		</div>	
		     	</div>
		     	<div class="col-xs-6">
		     		<div class="row tr-row">
		     			<div class="col-xs-6"><label class="tr-label">Document Type:</label></div>
		     			<div class="col-xs-6">{{ training_data[i].document_type }}</div>
		     		</div>
		     		<div class="row tr-row">
		     			<div class="col-xs-6"><label class="tr-label">Industry:</label></div>
		     			<div class="col-xs-6">{{ training_data[i].industry }}</div>
		     		</div>
		     	</div>
		     </div>
		    <div class="row tr-row">
		    	<div class="col-xs-3"><label class="tr-label">Training Description:</label></div>
		    	<div class="col-xs-9">{{ training_data[i].description }}</div>
		    </div>
		    </div>
		    <div id="reviews-menu{{ i }}" class="tab-pane fade">
		      	<div class="row tr-row">
		     		<div class="col-xs-4"><label class="tr-label">Downloads:</label></div>
		     		<div class="col-xs-8">{{ training_data[i].download_count }}</div>
		     	</div>
		     	<div class="row tr-row">
		     		<div class="col-xs-4"><label class="tr-label">Avg Ratings:</label></div>
		     		<div class="col-xs-8"  id ="avg-rateYo{{ i }}"></div>
		     	</div> 
		     	  	<div class="row tr-row">
		     		<div class="col-xs-4"><label class="tr-label">User Comments:</label></div>
		     		<div class="col-xs-8">
		     			<div class="row comments-row">
			     			{% for(var j=0, k= training_data[i].comments.length; j < k; j++) { %}
	  								<div class="my-comment">
	  									<div class="comment-by">{{ training_data[i].comments[j].full_name }}</div>
	  									<div class="comment-text">{{ training_data[i].comments[j].comments }}</div>
	  								</div>
			     			{% } %}
		     			</div>
		     		</div>
		     	</div>
		    </div>


		    </div>
	  	  </div>
	  </div>
	</div>
</div>
{% } %}