<html>
<head>
	<h3>{{_("Disucssion Topic Notification")}}</h3>
	<style>
		table {
		    border-collapse: collapse;
		}

		table, td, th {
		    border: 1px solid black;
		}

	</style>
</head>	
<body>
	<h4>{{_(" New Discussions Topics")}}</h4>	
	<table class="table" cellpadding="5">
		<thead>
			<tr>
				<th width="50%">{{ _("Topic") }}</b></th>
				<th width="50%">{{ _("Post By") }}</th>
			</tr>
		</thead>
		<tbody>
			{%- for topic in p_day_topic -%}
			<tr>
				<td width="50%">{{ topic.get("title") }}</td>
				<td width="50%">{{ topic.get("post_by") }}</td>
			</tr>
			{%- endfor -%}
		</tbody>
	</table>

	<h4>{{_(" Unanswered Discussions Topics")}}</h4>
	<table class="table" cellpadding="5">
		<thead>
			<tr>
				<th width="50%">{{ _("Topic") }}</b></th>
				<th width="50%">{{ _("Post By") }}</th>
			</tr>
		</thead>
		<tbody>
			{%- for topic in unans -%}
			<tr>
				<td width="50%">{{ topic.get("title") }}</td>
				<td width="50%">{{ topic.get("post_by") }}</td>
			</tr>
			{%- endfor -%}
		</tbody>
	</table>
<br>
<div class="row">
	<p>{{_("Thank you")}}.<br></p>
	<p>Team MyCFO</p>
</div>
</body>
</html>



  
